<div class="logo"><img src="./assets/img/logo.png" alt="logo"/></div>
<div class="card">
  <h2>CREATE NEW LOBBY</h2>
  <app-carousel (avatarChanged)="avatarChangedHandler($event)" ></app-carousel>
  <form (ngSubmit)="onSubmit()">
    <label class="text-blue-800" for="name">name</label>
    <input
      [(ngModel)]="name"
      id="name"
      name="name"
    />
    <span class="text-red-600" *ngIf="isValid === false && name === ''" >Please enter a name</span>
    <button type="submit">create lobby</button>
    <button routerLink='' class='button-secondary'>back to join lobby</button>
  </form>
</div>
