  <div class="flex w-full grid">
    <h1 class="flex w-full mt-3 mb-6">Example Description</h1>
    <div class="bg-white bg-opacity-50 rounded-md max-h-full">
      <app-color-picker class="flex mb-5 justify-center mt-5" [colors]="colors" (colorEvent)="setColor($event)"></app-color-picker>
      <app-drawing-canvas class="grid mx-auto mt-5 mb-5 max-w-4xl " [color]="color" (drawingChanged)="saveImage($event.base64, $event.width, $event.height)"></app-drawing-canvas>
    </div>
    <!-- <div *ngIf="base64" class="mt-5">
       <h3>base64 representation</h3>
       <p>using base64 string and dimensions from event emitter</p>
      <img [src]="base64" alt="resulting drawing" class="border border-secondary" [width]="imgWidth" [height]="imgHeight" />
      </div> -->
      <br>
  </div>
