<h1 class="dynamic-headline">DESCRIBE THE PICTURE</h1>
<div class="dynamic-content">
  <div id="artsy-picture" class=" flex justify-center items-center w-11/12 mx-auto  h-96 rounded-md p-5 ">
    <img class=" h-full mt-10 rounded-md border-4 bg-white" [src]="drawing" alt="artsy-drawing"/>
  </div>
  <div class="mt-10">
    <app-form-description (descriptionChanged)="descriptionChanged.emit($event)"></app-form-description>
  </div>
</div>
<h3 class="flex justify-center mt-5 text-base my-bo "> wait for the time to pass, you will be directed automatically </h3>


