<div class="container">
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>

  <!-- carousel -->
  <div [hidden]="isLoading" class="carousel">
    <ng-container *ngFor="let slide of slides; let i = index">
      <img
        (load)="onLoad()"
        *ngIf="i === currentSlide"
        [src]="slide.src"
        [alt]="slide.description"
        class="slide"
        @carouselAnimation
      />
    </ng-container>

    <!-- controls -->
    <button class="control prev" (click)="onPreviousClick()">
      <span class="arrow left"></span>
    </button>
    <button class="control next" (click)="onNextClick()">
      <span class="arrow right"></span>
    </button>
  </div>
</div>
