<div class="border p-1 mb-4" *ngIf="todos$ | async as todos">
  <div class="border-b" *ngFor="let todo of todos; trackBy: trackById">
    <div class="flex">
      <div class="w-12">
        <button (click)="toggle(todo)">
          <span *ngIf="todo.done">✔</span>
          <span *ngIf="!todo.done">🔨</span>
        </button>
      </div>
      <div class="flex-grow">{{ todo.title }}</div>
      <div class="w-12">
        <button (click)="delete(todo.id)">🗑</button>
      </div>
    </div>
  </div>

  <div class="text-center p-2" *ngIf="todos.length <= 0">
    No todos here! Well done.
  </div>
</div>
